.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(var(--color-border));
    transition: .4s var(--ease-spring);
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s var(--ease-spring);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:checked+.slider {
    background-color: hsl(var(--color-primary));
}

input:focus+.slider {
    box-shadow: 0 0 1px hsl(var(--color-primary));
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.disabled .slider {
    cursor: not-allowed;
    opacity: 0.5;
}